@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
}

header{
    text-align: center;
    background-image: linear-gradient(to bottom, white, green, red, rgba(255, 0, 0, 0.655));
}

header h1{
    color: white;
    padding-top: 35px;
    padding-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.429);
    font-size: 3em;
}

nav{
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: normal;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.378);
}

a:hover{
    background-color: green;
    color: red;
}

main{
    background-image: url('imagens/wallpaper02.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;

    min-width: 200px;
    max-width: 800px;
    margin: auto;
}

section{
    background-color: rgba(0, 0, 0, 0.636);
    margin: 0px 10px;
    border-radius: 0px 0px 10px 10px;
}

section h1{
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

section h2{
    color: white;
    text-align: center;
    font-size: 1.7em;
    padding-top: 20px;
    padding-bottom: 20px;
}

section p{
    color: white;
    width: auto;
    padding: 10px;
    margin: auto;
    min-width: 200px;
}

article{
    background-color: rgba(0, 0, 0, 0.603);
    margin: 0px 10px;
    border-radius: 10px;
}

article h1{
    color: white;
    text-align: center;
    font-size: 2.2em;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 10px 10px 0px 0px;
}

article aside h2{
    color: white;
    text-align: center;
}

article aside h3{
    color: white;
    margin-left: 10px;
    padding-bottom: 10px;
}

article h4{
    text-align: center;
    color: white;
    font-size: large;
}

article aside ol{
    margin-left: 40px;
    color: white;
    padding-bottom: 30px;
}

aside#conteiner{
    position: relative;
    height: 30vh;
}

div#casa{
    position: absolute;
    height: 100px;
    width: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-250%, -50%);
}

div#placar01{
    position: absolute;
    height: 100px;
    width: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-150%, -50%);
}

div#x{
    position: absolute;
    height: 100px;
    width: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#placar02{
    position: absolute;
    height: 100px;
    width: 80px;
    left: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

div#fora{
    position: absolute;
    height: 100px;
    width: 80px;
    left: 50%;
    top: 50%;
    transform: translate(150%, -50%);
}

div#nome01{
    position: absolute;
    height: 40px;
    width: 75px;
    left: 50%;
    top: 50%;
    transform: translate(-260%, 140%);
}

div#nome02{
    position: absolute;
    height: 40px;
    width: 80px;
    left: 50%;
    top: 50%;
    transform: translate(155%, 140%);
}

div p{
    color: white;
    font-weight: bold;
    text-align: center;
}

footer p{
    background-image: linear-gradient(to top, black, black, transparent);
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 500px;
    padding-bottom: 20px;
}