@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url('imagens/wallpaper02.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    min-width: 200px;
    max-width: 800px;
    margin: auto;
}

header{
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.827), rgba(0, 128, 0, 0.827), rgba(255, 0, 0, 0.725), rgba(255, 0, 0, 0.67),transparent, transparent);
}

header h1{
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.429);
    font-size: 3em;
}

span#burguer{
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover{
    background-color: rgba(255, 255, 255, 0.363);
    color: black;
}

nav{
    padding: 10px;
    display: none;
}

nav a{
    display: grid;
    background-color: rgba(211, 211, 211, 0.696);
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: normal;
    padding: 6.5px 0px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.378);
    margin: 3px 120px;
}

a:hover{
    background-color: rgba(0, 128, 0, 0.575);
    color: red;
}

footer{
    background-image: linear-gradient(to top, black, black, black, black, transparent);
    padding-top: 70px;
}

footer img{
    width: auto;
    min-width: 100px;
}

footer p{
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 20px;
}

.box{
    display: flex;
}

.box1{
    padding: 3px;
    margin: auto;
    width: auto;
}